/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
.container{
    max-width: 1080px;
    margin: 0 auto;
}

/*Utils*/
.background-columns{
    background-color: #add8e6;
}
.columns{
    height: 70px;
    display: flex;
    align-items: center;
}

.left-column{
    border: 2px dashed black;
    width: 25%;
    height: 40px;
    background-color: #daa520;
    display: flex;
    align-items: center;
}

.middle-column{
    border: 2px dashed black;
    width: 50%;
    height: 40px;
    background-color: #daa520;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-column{
    border: 2px dashed black;
    width: 25%;
    height: 40px;
    background-color: #daa520;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.background-card{
    background-color: #00008b; 
}

.first-jumbotron{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: 2px dashed black;
    flex-basis: 60%;
    min-height: 80%;
    background-color: #ee82ee;
}

.second-jumbotron{
    height: 700px;
    display: flex;
    align-items: center;
}

.background-row{
    background-color: #d3d3d3;
}

.second-jumbotron-reverse{
    height: 700px;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.blu-column{
    flex-basis: 60%;
    min-height: 400px;
    background-color: #1e90ff;
    border: 2px dashed black;
}
.pink-column{
    flex-basis: 40%;
    min-height: 400px;
    background-color: #ffc0cb;
    border: 2px dashed black;
}

.third-jumbotron{
    height: 1200px;
    display: flex;
    align-items: center;
}

.card-green{
    border: 2px dashed black;
    width: 100%;
    min-height: 90%;
    background-color: #228b22;
}

.background-footer{
    background-color: #23272a;
}

.fourth-jumbotron{
    height: 700px;
    display: flex;
    align-items: center;
}
.lightpink-column{
    flex-basis: 30%;
    min-height: 400px;
    background-color: #f08080;
    border: 2px dashed black;
}
.lightblu-column{
    flex-basis: 70%;
    min-height: 400px;
    background-color: #20b2aa;
    border: 2px dashed black;
    display: flex;
}
.dashed{
    width: calc(100% / 4);
    min-height: 100%;
    border: 2px dashed white;
}

/*colours
logo: #7fffd4
scritta: #ffb6c1*/
